nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(121, 194, 194);
    margin: 15px;
    font-family: 'Times New Roman';
}

body {
    background-color: rgb(245, 198, 176);
}

.titulo {
    padding-right: 5%;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 15%;
    color: black;
}

.navegador ul {
    display: flex;
    list-style: none;
    padding-left: 5%;
}

.navegador ul li {
    padding-top: 5%;
    padding-left: 15px;
    margin: 5px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: blue;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.hd {
    font-family: 'Times New Roman';
    font-size: 15px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 10px;
}

.btn-pie {
    margin-top: 15px;
    align-self: flex-end;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
    overflow-y: scroll;
    outline: black solid 1px;
}

.stick {
    position: sticky;
    over
}

.tabla table {
    height: 60%;
    width: 700px;
}

.table td, .table th {
    padding: 15px;
    text-align: center;
    position: sticky;
}

th[scope="row"] {
    font-weight: 400;
}
