<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/form.css">

<body>

    <nav th:replace="/fragments/navbar :: nav"></nav>

    <div class="contenido-form">

        <div class="contenido-form">

            <div class="hd">
                <h3>Registrar <span th:text="${formhead}"></span></h3>
            </div>

            <div class="formulario">
                <form th:if="${form} == 'libro'" th:action="@{${urlaction}}" method="POST">

                    <label for="titulo">Titulo</label><br>
                    <input type="text" name="titulo" th:value="${titulo}"><br>
                    <label for="isbn">ISBN</label><br>
                    <input type="number" name="isbn" th:value="${isbn}"><br>
                    <label for="año">Año</label><br>
                    <input type="number" name="anio" th:value="${anio}"><br>
                    <label for="ejemplares">Ejemplares</label><br>
                    <input type="number" name="ejemplares" th:value="${ejemplares}"><br>
                    <label for="ejemplaresP">Ejemplares prestados</label><br>
                    <input type="number" name="ejemplaresP" th:value="${ejemplaresP}"><br>
                    <label for="autor">Autor</label><br>
                    <input type="text" name="autor" th:value="${autor}"><br>
                    <label for="editorial">Editorial</label><br>
                    <input type="text" name="editorial" th:value="${editorial}"><br>

                    <br>
                    <button type="submit">Guardar</button>
                </form>
                <form th:if="${form} == 'cliente'" th:action="@{${urlaction}}" method="POST">

                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="nombre" th:value="${nombre}"><br>
                    <label for="apellido">Apellido</label><br>
                    <input type="text" name="apellido" th:value="${apellido}"><br>
                    <label for="documento">Documento</label><br>
                    <input type="number" name="documento" th:value="${documento}"><br>
                    <label for="telefono">Telefono</label><br>
                    <input type="text" name="telefono" th:value="${telefono}"><br>

                    <br>
                    <button type="submit">Guardar</button>
                </form>
                <form th:if="${form} == 'autoreditorial'" th:action="@{${urlaction}}" method="POST">

                    <label for="titulo">Titulo del libro</label><br>
                    <select name="titulo">

                        <option th:each="libro : ${lista}" th:value="${libro.titulo}" th:text="${libro.titulo}">
                        </option>
                        <option th:if="${error} != null" th:value="${titulo}" th:text="${titulo}"></option>

                    </select>

                    <!-- <label for="titulo">Titulo del libro</label><br>
                    <input type="text" name="titulo"><br> -->
                    <label for="nombre">Nombre <span th:text="${label}"></span></label><br>
                    <input type="text" name="nombre"><br>

                    <br>
                    <button type="submit">Guardar</button>
                </form>
                <form th:if="${form} == 'prestamo'" th:action="@{${urlaction}}" method="POST">

                    <label for="titulo">Titulo del libro</label><br>
                    <select name="idLibro">

                        <option th:each="libro : ${listalibros}" th:value="${libro.id}" th:text="${libro.titulo}">
                        </option>
                        <option th:if="${error} != null" th:value="${libro}" th:text="${librotitulo}"></option>

                    </select>

                    <br><label for="cliente">Cliente</label><br>
                    <select name="idCliente">

                        <option th:each="cliente : ${listaclientes}" th:value="${cliente.id}"
                            th:text="${cliente.nombre}"></option>
                        <option th:if="${error} != null" th:value="${cliente}" th:text="${clientenombre}">
                        </option>

                    </select>

                    <br>
                    <button type="submit">Guardar</button>
                </form>
            </div>

            <div class="form-pie">
                <div class="msg">
                    <p th:if="${error != null}" th:text="${error}"></p>
                </div>

                <div class="btn-pie">
                    <button type="button" class="btn btn-primary"><a th:href="@{${urlvolver}}">Volver</a></button>
                </div>
            </div>

        </div>
    </div>

    <script th:replace="/fragments/script :: script"></script>
</body>

</html>