<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Libreria</title>
</head>

<body>

    <nav>
        <div>
            <h1 class="titulo">Libreria Web</h1>
        </div>
    </nav>

    <div class="cards">
        <div>
            <div class="hd-card">
                <h2>Libro</h2>
            </div>
            <div class="bg-cards libro">
                <div class="botones">
                    <button><a href="/libro">Ver tabla</a></button>
                    <button><a href="/libro/formlibro">Guardar un libro</a></button>
                </div>
            </div>
        </div>
        <div>
            <div class="hd-card">
                <h2>Autor</h2>
            </div>
            <div class="bg-cards autor">
                <div class="botones">
                    <button><a href="/autor">Ver tabla</a></button>
                    <button><a href="/autor/formautor">Guardar un autor</a></button>
                </div>
            
            </div>
        </div>
        <div>
            <div class="hd-card">
                <h2>Editorial</h2>
            </div>
            <div class="bg-cards editorial">
                <div class="botones">
                    <button><a href="/editorial">Ver tabla</a></button>
                    <button><a href="/editorial/formeditorial">Guardar una editorial</a></button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>