<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>


<body>

    <nav class="index-nav">
        <div class="bt-inicio">
            <a href="/">LIBRERIA WEB</a>
        </div>
        <div>
            <a href="/registro">REGISTRO</a>
            <a href="/login">LOGIN</a>
        </div>
    </nav>


    <header>
        <div>
            <h1>Libreria Web</h1>
        </div>
        <div class="form-login">
            <form action="/logincheck" method="POST">
                <label for="username">Mail</label><br>
                <input type="email" name="username"><br>

                <label for="password">Clave</label><br>
                <input type="password" name="password"><br>

                <br><button type="submit">Entrar</button>
            </form>
        </div>
        <p class="p-form">No tienes una cuenta? <a href="/registro">Crea una.</a></p>
    </header>

    <div class="fix"></div>

    <section>
        <div class="contenido-index">

            <div class="col-1">
                <div>
                    <h2>Libro</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam velit tenetur deserunt, nobis eveniet dolor dolores quasi animi,
                        debitis aspernatur consequatur.
                        Eius nostrum asperiores voluptatem cumque sed quidem, saepe repellendus!
                    </p>
                </div>
            </div>

            <div class="img">
                <img src="/img/libro-index.jpg" alt="">
            </div>

            <div class="img">
                <img src="/img/autor-index.jpg" alt="">
            </div>

            <div class="col-1">
                <div>
                    <h2>Autor</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam velit tenetur deserunt, nobis eveniet dolor dolores quasi animi,
                        debitis aspernatur consequatur.
                        Eius nostrum asperiores voluptatem cumque sed quidem, saepe repellendus!
                    </p>
                </div>
            </div>

            <div class="col-1">
                <div>
                    <h2>Editorial</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam velit tenetur deserunt, nobis eveniet dolor dolores quasi animi,
                        debitis aspernatur consequatur.
                        Eius nostrum asperiores voluptatem cumque sed quidem, saepe repellendus!
                    </p>
                </div>
            </div>

            <div class="img">
                <img src="/img/editorial-index.png" alt="">
            </div>

        </div>
    </section>

    <div class="fix"></div>

    <footer class="footer-login" th:replace="/fragments/footer :: footer"></footer>

</body>

</html>