<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

    <nav th:replace="/fragments/navbar :: nav"></nav>

    <div class="contenido-form">

        <div class="contenido-form">

            <div class="hd">
                <h3>Modificar <span th:text="${formhead}"></span></h3>
            </div>

            <div class="formulario">
                <form th:if="${form} == 'libro'" action="/modificarlibro/__${libro.id}__" method="POST">

                    <input hidden th:value="${id}" name="id">
                    <label for="titulo">Titulo</label><br>
                    <input type="text" th:if="${error == null}" th:value="${libro.titulo}" name="titulo"><br>
                    <input type="text" th:if="${error != null}" th:value="${titulo}" name="titulo">
                    <label for="isbn">ISBN</label><br>
                    <input type="number" th:if="${error == null}" th:value="${libro.isbn}" name="isbn"><br>
                    <input type="number" th:if="${error != null}" th:value="${isbn}" name="isbn">
                    <label for="año">Año</label><br>
                    <input type="number" th:if="${error == null}" th:value="${libro.anio}" name="anio"><br>
                    <input type="number" th:if="${error != null}" th:value="${anio}" name="anio">
                    <label for="ejemplares">Ejemplares</label><br>
                    <input type="number" th:if="${error == null}" th:value="${libro.ejemplares}" name="ejemplares"><br>
                    <input type="number" th:if="${error != null}" th:value="${ejemplares}" name="ejemplares">
                    <label for="ejemplaresP">Ejemplares prestados</label><br>
                    <input type="number" th:if="${error == null}" th:value="${libro.ejemplaresPrestados}"
                        name="ejemplaresP"><br>
                    <input type="number" th:if="${error != null}" th:value="${ejemplaresPrestados}" name="ejemplaresP">
                    <label for="autor">Autor</label><br>
                    <input type="text" name="autor" th:if="${libro.autor != null}" th:value="${libro.autor.nombre}"><br
                        th:if="${libro.autor != null}">
                    <input type="text" name="autor" th:if="${libro.autor == null}"
                        th:value="${libro.autor?.nombre} ?: 'Sin autor'"><br th:if="${libro.autor == null}">
                    <label for="editorial">Editorial</label><br>
                    <input type="text" name="editorial" th:if="${libro.editorial != null}"
                        th:value="${libro.editorial.nombre}"><br th:if="${libro.editorial != null}">
                    <input type="text" name="editorial" th:if="${libro.editorial == null}"
                        th:value="${libro.editorial?.nombre} ?: 'Sin editorial'"><br th:if="${libro.editorial == null}">

                    <br>
                    <button type="submit">Guardar</button>
                </form>
                <form th:if="${form} == 'autor'" th:action="@{/autor/modificarautor/__${autor.id}__}" method="POST">

                    <input hidden th:value="${id}" name="id">

                    <label for="nombre">Nombre del autor</label><br>
                    <input type="text" th:value="${autor.nombre}" name="nombre"><br>
                    <input type="text" th:if="${autor} == null" th:value="${nombre}" name="nombre"><br>

                    <br>
                    <button type="submit">Guardar</button>
                </form>
                <form th:if="${form} == 'editorial'" action="/modificareditorial/__${editorial.id}__" method="POST">

                    <input hidden th:value="${id}" name="id">

                    <label for="nombre">Nombre de la editorial</label><br>
                    <input type="text" th:value="${editorial.nombre}" name="nombre"><br>
                    <input type="text" th:if="${editorial} == null" th:value="${nombre}" name="nombre"><br>

                    <br>
                    <button type="submit">Guardar</button>
                </form>
            </div>

            <div class="form-pie">
                <div class="msg">
                    <p th:if="${error != null}" th:text="${error}"></p>
                    <p th:unless="${exito != null}" th:text="${exito}"></p>

                </div>

                <div class="btn-pie">
                    <button type="button" class="btn btn-primary"><a th:href="@{${urlvolver}}">Volver</a></button>
                </div>
            </div>

        </div>
    </div>

    <script th:replace="/fragments/script :: script"></script>
</body>

</html>