<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/tabla.css">

<body>

    <nav th:replace="/fragments/navbar :: nav"></nav>

    <div class="contenido-tabla">

        <div class="contenido-tabla">
            <div class="hd">
                <h2>Tabla de <span th:text="${tablahead}"></span></h2>
            </div>

            <div class="tabla">
                <div class="over-fixed">
                    <table class="table">
                        <thead class="sticky">
                            <tr th:if="${tr} == 'libros'">
                                <th scope="col">Titulo</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Editorial</th>
                                <th scope="col">Año</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Dar de baja</span></th>
                            </tr>
                            <tr th:if="${tr} == 'autores'">
                                <th scope="col">Autor</th>
                                <th scope="col">Libro</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Dar de baja</th>
                            </tr>
                            <tr th:if="${tr} == 'editoriales'">
                                <th scope="col">Editorial</th>
                                <th scope="col">Libro</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Dar de baja</th>
                            </tr>
                            <tr th:if="${tr} == 'prestamos'">
                                <th scope="col">Prestamo</th>
                                <th scope="col">Libro</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Devolver</th>
                            </tr>
                            <tr th:if="${tr} == 'clientes'">
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Telefono</th>
                                <!-- <th scope="col">Libro</th>
                                <th scope="col">Prestamo</th> -->
                                <th scope="col">Editar</th>
                                <th scope="col">Devolver</th>
                            </tr>
                        </thead>
                        <tbody th:each="libro : ${lista}">
                            <tr th:if="${tr} == 'libros'">
                                <td th:text="${libro.titulo}"></td>
                                <td th:if="${libro.autor !=null}" th:text="${libro.autor.nombre}"></td>
                                <td th:if="${libro.autor ==null}" th:text="${libro.autor} ?: 'Sin autor'"></td>
                                <td th:if="${libro.editorial !=null}" th:text="${libro.editorial.nombre}"></td>
                                <td th:if="${libro.editorial ==null}" th:text="${libro.editorial} ?: 'Sin editorial'">
                                </td>
                                <td th:text="${libro.anio}"></td>
                                <td><button type="button" class="btn btn-primary"><a
                                            th:href="@{/libro/modificar/__${libro.id}__}">Editar</a></button></td>
                                <td><button type="button" class="btn btn-danger"><a
                                            th:href="@{/libro/baja/__${libro.id}__}">Dar de baja</a></button></td>
                            </tr>
                            <tr th:if="${tr} == 'autores'">
                                <td th:text="${libro.autor.nombre}"></td>
                                <td th:text="${libro.titulo}"></td>
                                <td><button type="button" class="btn btn-primary"><a
                                            th:href="@{/autor/modificar/__${libro.autor.id}__}">Editar</a></button></td>
                                <td><button type="button" class="btn btn-danger"><a
                                            th:href="@{/autor/baja/__${libro.autor.id}__}">Dar de baja</a></button></td>
                            </tr>
                            <tr th:if="${tr} == 'editoriales'">
                                <td th:text="${libro.editorial.nombre}"></td>
                                <td th:text="${libro.titulo}"></td>
                                <td><button type="button" class="btn btn-primary"><a
                                            th:href="@{/editorial/modificar/__${libro.editorial.id}__}">Editar</a></button>
                                </td>
                                <td><button type="button" class="btn btn-danger"><a
                                            th:href="@{/editorial/baja/__${libro.editorial.id}__}">Dar de
                                            baja</a></button></td>
                            </tr>
                            <tr th:if="${tr} == 'prestamos'">
                                <td th:text="${libro.fechaPrestamo}"></td>
                                <td th:text="${libro.libro.titulo}"></td>
                                <td th:text="${libro.cliente.nombre}"></td>
                                <td><button type="button" class="btn btn-primary"><a
                                            th:href="@{/prestamo/modificar/__${libro.id}__}">Editar</a></button></td>
                                <td><button type="button" class="btn btn-danger"><a
                                            th:href="@{/prestamos/baja/__${libro.id}__}">Devolver</a></button></td>
                            </tr>
                            <tr th:if="${tr} == 'clientes'">
                                <td th:text="${libro.nombre}"></td>
                                <td th:text="${libro.apellido}"></td>
                                <td th:text="${libro.documento}"></td>
                                <td th:text="${libro.telefono}"></td>
                                <!-- <td th:text="${libro.libro?.titulo} ?: 'Sin libro'"></td>
                                <td th:text="${libro.fechaPrestamo} ?: 'Sin prestamo'"></td> -->
                                <td><button type="button" class="btn btn-primary"><a
                                            th:href="@{/cliente/modificar/__${libro.id}__}">Editar</a></button></td>
                                <td><button type="button" class="btn btn-danger"><a
                                            th:href="@{/cliente/baja/__${libro.id}__}">Devolver</a></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="btn-pie">
                <button type="button" class="btn btn-primary"><a th:href="@{${urlguardar}}">Guardar <span
                            th:text="${btguardar}"></span></a></button>
                <button type="button" class="btn btn-primary"><a href="/inicio">Volver</a></button>
            </div>
        </div>

    </div>

    <script th:replace="/fragments/script :: script"></script>
</body>

</html>