
/* TABLA */

.contenido-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.hd {
    font-family: 'Times New Roman';
    font-size: 15px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 10px;
}

.btn-pie {
    margin-top: 15px;
    align-self: flex-end;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1000px;
    border: black solid 2px;
}

.table {
    top: 0;
}

.table td, .table th {
    padding: 15px;
    text-align: center;
}

.sticky {
    background-color: lightcoral;
    position: sticky;
    top: 0;
}

.over-fixed {
    height: 450px;
    width: 800px;
    overflow-y: auto;
}

th[scope="col"] {
    border: 0px;
}

