<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Modificar libros</title>
</head>

<body>

    <nav>
        <div class="navegador">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/libro">Libros</a></li>
                <li><a href="/autor">Autores</a></li>
                <li><a href="/editorial">Editoriales</a></li>

            </ul>
        </div>
        <div class="titulo">
            <h1>Libreria Web</h1>
        </div>
    </nav>

    <div class="contenido">

        <div class="contenido">

            <div class="hd">
                <h3>Modificar un libro</h3>
            </div>

            <div class="formulario">
                <form action="/modificarlibro/__${libro.id}__" method="POST">

                    <input hidden th:value="${id}" name="id">
                    <label for="titulo">Titulo</label><br>
                    <input type="text" th:if="${error == null}" th:value="${libro.titulo}" name="titulo"><br>
                    <input type="text" th:if="${error != null}" th:value="${titulo}" name="titulo"><br>
                    <label for="isbn">ISBN</label><br>
                    <input type="number" th:if="${error == null}" th:value="${libro.isbn}" name="isbn"><br>
                    <input type="number" th:if="${error != null}" th:value="${isbn}" name="isbn"><br>
                    <label for="año">Año</label><br>
                    <input type="number" th:if="${error == null}" th:value="${libro.anio}" name="anio"><br>
                    <input type="number" th:if="${error != null}" th:value="${anio}" name="anio"><br>
                    <label for="ejemplares">Ejemplares</label><br>
                    <input type="number" th:if="${error == null}" th:value="${libro.ejemplares}" name="ejemplares"><br>
                    <input type="number" th:if="${error != null}" th:value="${ejemplares}" name="ejemplares"><br>
                    <label for="ejemplaresP">Ejemplares prestados</label><br>
                    <input type="number" th:if="${error == null}" th:value="${libro.ejemplaresPrestados}" name="ejemplaresP"><br>
                    <input type="number" th:if="${error != null}" th:value="${ejemplaresPrestados}" name="ejemplaresP"><br>

                    <br>
                    <button type="submit">Guardar</button>
                </form>
            </div>

            <div class="form-pie">
                <div class="msg">
                    <p th:if="${error != null}" th:text="${error}">Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. </p>
                    <p th:unless="${exito != null}" th:text="${exito}">Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. </p>

                </div>

                <div class="btn-pie">
                    <button type="button" class="btn btn-primary"><a href="/libro">Volver</a></button>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>